"$schema" = 'https://starship.rs/config-schema.json'

format = """
$username\
$hostname\
$directory\
$git_state\
$git_status\
$line_break\
$character"""

[directory]
style = "bold"

[character]
success_symbol = "[>](bold green)"
error_symbol = "[>](bold red)"

[git_status]
style = "bold green"
format = '[($all_status$ahead_behind )]($style)'
